<p>Bonjour {{ name }}</p>

<p>Vous êtes convié à la réunion qui se déroulera le {{ date }}</p>

<img src="{{ email.image('@images/symfony_white_02.svg') }}" alt="Logo Symfony">

<p>Cordialement,</p>
<hr>
<p>
Signature
</p>
