{% extends 'base.html.twig' %}
{# héritage :
    - on part du template parent et on peut réécrire/redéfinir les blocks
    - toute écriture à l'extérieur des blocks est interdite
#}

{% block title %} {% endblock %}

{% block body %}
    {{ dump(app.locale) }}
    <h1>Démo locale</h1>
    <p>{{ data }}</p>
{% endblock %}
